body{
    background-color:  rgb(231, 238, 250);
    margin:0;
    display: flex;
    justify-content: center;
    align-self: center;
}
.paragraph{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    font-size: 20px;
    font-family: arial;
    color:  rgb(231, 238, 250);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 200px;
}
.paragraph-blue{   
    color: #1f63a0;
    border-color: #05436a;
}
.paragraph a{
    text-decoration: none;
    color:  rgb(231, 238, 250);
}
.title{
    padding-top: 10px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 12px;
    font-size: 38px;
    font-weight: bold;
    color: rgb(231, 238, 250);
    font-family: math;
  }
.box { 
    border: none;
    margin-top: 10%;
    background-color:rgb(87, 110, 164);
    border-radius: 25px;
    height: 350px;
    width: 600px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 5px 60px 100px 1px, rgba(0, 0, 0, 0.3) 5px 40px 80px 1px, rgba(10, 37, 64, 0.35) 5px -2px 6px 0px inset;
}
.row{
    height: 40px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    background: rgb(74, 97, 150);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px 1px;
}
.row.header{
    position: fixed;
    top: 0;
}
.button{
    border-radius: 12px;
    width: 85px;
    border: 0;
    background-color:  rgb(231, 238, 250);
    color:  rgb(74, 97, 150);
    margin-top: 8px;
    margin-left: 8px;
    font-size: 15px;
}
#un{
    border-radius: 12px;
    width: 200px;
    height: 25px;

}
#pass{
    border-radius: 12px;
    width: 200px;
    height: 25px;

}