/* CV PAGE */
#header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(144, 170, 229);
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 8px 0px;
}

.row{
    display: block;
    width: 100%;
}

body{
    background-color: rgb(237, 242, 251);
    margin:0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

#dropdown-menu{
    cursor: pointer;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    width: 90px;
    vertical-align: middle;
    color: white;
    background: rgb(144, 170, 229);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.dropdown-content{
    cursor: pointer;
    display: none;
    background: rgb(144, 170, 229);
    position: relative;
    min-width: 160px;
    left: 0;
    font-weight: normal;
    font-size: medium;
    text-align: right;
    color: white;
    text-decoration: none;
}

#dropdown-menu li{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    list-style-type: none;
}

#dropdown-menu ul{
    margin: 0;
    padding: 0;
}

#dropdown-menu:hover .dropdown-content{
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#dropdown-menu li:hover{
    background: rgb(5, 24, 61);
}

.dropdown-content a{
    color: white;
    text-decoration: none;
}

.container{
    margin-top: 60px;
}

.sidebar{
    border-radius: 20px;
    margin-left: 1%;
    margin-top: 2%;
    width: 26%;
    background: rgb(74, 97, 150);
    height: 85%;
    float: left;
    position: fixed;
    z-index: -1;
    box-shadow: rgba(50, 50, 93, 0.35) 0px 50px 100px 10px, rgba(0, 0, 0, 0.35) 0px 30px 60px 10px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* display: inline-block; */
}

.profile-img-container{
    margin: auto;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 3%;
}

#profile-img{
    height: 200px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.profiletxt{
    position: relative;
    color: white;
    margin-left: 2%;
}


h2{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0px;
}

h4{
    margin: 0px;
}

a {
    color: white;
    }

.rightbar{
    /* display: inline-block; */
    float: right;
    height: auto;
    width: 70%;
}

.righttxt{
    color: rgb(8, 47, 69);
}
ul{
    margin: 10px;
}

/* Gallery */

.content{
    margin-top: 10px;
    margin-bottom: 8px;
}

.my-img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.img-frame{
    border-radius: 10px;
    border: 1px solid grey;
    display: inline-block;
    padding: 2px;
    margin-left: 6%;
    text-align: center;
    margin-top: 7%;
}

.largeImage{
    z-index: 10;
    width: 35%;
    position: absolute;
    display: none;
}

.my-img:focus + #largeImage1,
.my-img:focus + #largeImage2,
.my-img:focus + #largeImage3{
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a{
    text-decoration: none;
}